doctype html
//- vim: set ai et nu ts=4 sw=4 cc=100:
block before_everything
html
    - var imgRoot = appConfig.prefix + "images";
    - var npmRoot = appConfig.prefix + "npm";
    - var jcsRoot = appConfig.prefix + "jcs";
    head
        block head_start

        script(src='#{npmRoot}/jquery/dist/jquery.min.js')

        block head_end
    body
        block body

block after_everything

